.background { 
    background-color: #84e0f5;
} 

.nav-wrapper {
    font-family: 'Carter One', cursive;
}
.headingone{
    font-family: 'Grenze', serif;
}
/*.font_styling {*/
/*    font-family: 'Oswald', sans-serif;*/
/*    font-size: large;*/
/*}*/


/*.background { */
/*    background-color: white;*/
/*} */

/*.font_styling {*/
/*    font-family: 'Oswald', sans-serif;*/
/*    font-size: large;*/
/*}*/

/*.spacing {*/
/*    padding: 50px 100px 30px 30px;*/
/*}*/
