<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to the Mood Booster</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body class="purple lighten-4">
        <h1 class="center-align">How are you feeling today?</h1>
        <p class="center-align">We will help you with whatever mood you are feeling today</p>
        <form method="post" action="/results">
            <label for="mood">What emotion are you feeling today?</label>
            <input type="text" name = "mood"/>
            <input type="submit" value="Submit"/>
            <select name="cars">
                <option value="Sad">Sad</option>
                <option value="Happy">Happy</option>
                <option value="Angry">Angry</option>
                <option value="Ambitious">Ambitious</option>
            </select>
            <br><br>
            <!--<input type="submit">-->
        <!--<button type="button">Click Me!</button>-->
        <ul>
            <li>
            <button type="button" class="block">
                <a href="/happy">Happy</a>
            </button>
            </li>
            <br></br>
            <li>
            <button type="button" class="block">
                <a href="/sad">Sad</a> 
            </button>
            </li>
         <br></br>
            <li>
            <button type="button" class="block">
                <a href="/angry">Angry</a> 
            </button>
            </li>
          <br></br>
            <li>
            <button type="button" class="block">
                <a href="/ambitious">Ambitious</a> 
            </button>
            </li>
         <br></br>
            <li>
            <button type="button" class="block">
                <a href="http://3.16.14.39:5000/happy">Heartbroken</a> 
            </button>
            </li>
                
        </ul>
        </form>
        <!--<form>-->
        <!--    <div class="dropdown">-->
        <!--      <button class="dropbtn">Dropdown</button>-->
        <!--      <div class="dropdown-content">-->
        <!--        <a href="#">Link 1</a>-->
        <!--        <a href="#">Link 2</a>-->
        <!--        <a href="#">Link 3</a>-->
        <!--     </div>-->
        <!--    </div>-->
        <!--</form>-->
    </body>
</html>