
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" />
      <title>Depression Quiz Results</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="/static/stylequizresults.css" type="text/css" />
      <!--<link href="https://fonts.googleapis.com/css?family=Geostar&display=swap" rel="stylesheet">-->
      <!--<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">-->
      <link href="https://fonts.googleapis.com/css?family=Carter+One&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Grenze&display=swap" rel="stylesheet">
      
    </head>



    <body>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      
      
         
      
        <nav>
          <div class="nav-wrapper">
            <a href="#" class="brandlogo">Quality Of Life</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="https://www.betterhelp.com/helpme/?utm_source=AdWords&utm_medium=Search_PPC_c&utm_term=depression+hotline_e&utm_content=82013688212&network=g&placement=&target=&matchtype=e&utm_campaign=2079213825&ad_type=text&adposition=1t1&gclid=CjwKCAjwm4rqBRBUEiwAwaWjjKCmI0R1e3CbrQEoFSCQkb8K47B8SvkBFTcRViihmXh_gDgIaKAUGhoCnakQAvD_BwE&not_found=1&gor=helpme">Depression Hotline</a></li>
              <li><a href="https://www.dbsalliance.org/crisis/suicide-hotline-helpline-information/">Suicide Hotline and Helpline Information</a></li>
              <li><a href="https://us.trintellix.com/depression-symptom-checklist/?utm_source=google&utm_medium=cpc&utm_campaign=unbranded_condition&gclid=CjwKCAjwm4rqBRBUEiwAwaWjjJEcKLKAUPw8-NzBVLR1z1X_5Yi3wh_BWYcRLxTqgkjF1rSBVu2SLBoC5rwQAvD_BwE&gclsrc=aw.ds">Get Help If Depressed</a></li>
            </ul>
          </div>
        </nav>
        
        <center><h1 class="headingone">Based on your answers, our survey suggests some resources for you:</h1></center>
        <center></center><h3>{{depression_diagnosis}}</h3></center>
      
      
      
      
        <body class="background">
      <div class="container teal lighten-2 z-depth-1 spacing">
        <h1 class="center-align">Resources Avalaible</h1>
        <div class="row font_styling">
          <div class="col s2">Level 1</div>
          <div class="col s2">Level 2</div>
          <div class="col s2">Level 3</div>
          <div class="col s2">Level 4</div>
          <div class="col s4">Level 5</div>
        </div>
      </div>
      
  
      <div class="container teal z-depth-1">
        <div class="row">
          <div class="col m12">Discovery header</div>
          <div class="col m7">
  
            <div class="row font_styling">
              <div class="col m6 font_styling">Vertical article 1
                <img class="responsive-img z-depth-5" src="sad1.png">
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet nulla facilisi morbi tempus iaculis urna id volutpat. Mi proin sed libero enim sed.</div>
              </div>
  
              <div class="col m6">Vertical article 2
                <img class="responsive-img" src="sad1.png">
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet nulla facilisi morbi tempus iaculis urna id volutpat. Mi proin sed libero enim sed.</div>
              </div>
            </div>
          </div>
  
          <div class="col m5">Smaller articles
            <div class="row">
              <div class="col m6">Article 1</div>
  
              <img class="responsive-img col m6" src="/static/sad1.png">
            </div>
            <div class="row">
              <div class="col m6"> Article 2</div>
              <img class="responsive-img col m6" src="bbSquirtle2.jpg">
            </div>
          </div>
        </div>
      </div>
  
      <div class="container teal lighten-2 z-depth-1">
        <h1 class="center-align">Materialize Deep Dive</h1>
        <div class="row">
          <div class="col s2">contents of column 1</div>
          <div class="col s2">contents of column 2</div>
          <div class="col s2">contents of column 3</div>
          <div class="col s2">contents of column 4</div>
          <div class="col s4">contents of column 5</div>
        </div>
      </div>
     
    </body>
  </html>
        