<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <h1 class="center-align">Quality of Life</h1>
    <div class="row purple lighten-4">
        <div class="col s6">
            <h4>If someone was to playfully punch you how would you react?</h4>
            <form method="post" action="/quizresults">
                <p>
                    <label>
                        <input name="q1" type="radio" value="q1-a1" checked />
                            <span>Playfully hit them back</span>
                    </label>
                </p>
                <p>
                    <label>
                         <input name="q1" type="radio" value="q1-a2"/>
                            <span>Ignore them</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="q1" type="radio"  />
                            <span>Get mad</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="q1" type="radio" />
                            <span>Start laughing</span>
                    </label>
                </p>
        </div>
        <div class="col s6">
            <h4>With the mood your in right now how do you feel about yourself?</h4>
            <form method="post" action="/quizresults">
                <p>
                    <label>
                            <input name="q2" type="radio" checked />
                                <span>Good</span>
                        </label>
                </p>
                <p>
                    <label>
                             <input name="q2" type="radio" />
                                <span>Bad</span>
                        </label>
                </p>
                <p>
                    <label>
                            <input class="with-gap" name="q2" type="radio"  />
                                <span>I don't care about myself</span>
                        </label>
                </p>
                <p>
                    <label>
                            <input name="q2" type="radio" />
                                <span>No comment</span>
                        </label>
                </p>
        </div>
    </div>
    <br>
    <br>



    <div class="row purple lighten-4">
        <div class="col">
            <h4 class="center-align">A random person walks up to you and says "hello" what is your reaction?</h4>
            <form method="post" action="/quizresults">
                <p>
                    <label>
                        <input name="q3" type="radio" checked />
                            <span>"Why are you talking to me"</span>
                    </label>
                </p>
                <p>
                    <label>
                         <input name="q3" type="radio" />
                            <span>Ignore them</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="q3" type="radio"  />
                            <span>Say hi back</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="q3" type="radio"  />
                            <span>Start a conversation</span>
                    </label>
                </p>
        </div>
    </div>
    <br>
    <br>



    <div class="row purple lighten-4">
        <div class="col">
            <h4 class="center-align">How much energy do you feel you have right now?</h4>
            <form method="post" action="/quizresults">
                <p>
                    <label>
                        <input name="q4" type="radio" checked />
                            <span>I feel like sleeping right now</span>
                    </label>
                </p>
                <p>
                    <label>
                         <input name="q4" type="radio" />
                            <span>Tons. I feel like going for run</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="q4" type="radio"  />
                            <span>Im feeling calm</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="q4" type="radio" />
                            <span>Not sure</span>
                    </label>
                </p>
        </div>
    </div>
    <br>
    <br>


    <div class="row purple lighten-4">
        <div class="col">
            <h4 class="center-align">If someone was to playfully punch you how would you react?</h4>
            <form method="post" action="/quizresults">
                <p>
                    <label>
                        <input name="q5" type="radio" checked />
                            <span>Playfully hit them back</span>
                    </label>
                </p>
                <p>
                    <label>
                         <input name="q5" type="radio" />
                            <span>Ignore them</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="q5" type="radio"  />
                            <span>Get mad</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="q5" type="radio" />
                            <span>Start laughing</span>
                    </label>
                </p>
        </div>
    </div>
    <br>
    <br>



    <div class="row purple lighten-4">
        <div class="col">
            <h4 class="center-align">If someone was to playfully punch you how would you react?</h4>
            <form method="post" action="/quizresults">
                <p>
                    <label>
                        <input name="q6" type="radio" checked />
                            <span>Playfully hit them back</span>
                    </label>
                </p>
                <p>
                    <label>
                         <input name="q6" type="radio" />
                            <span>Ignore them</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="q6" type="radio"  />
                            <span>Get mad</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="q6" type="radio" />
                            <span>Start laughing</span>
                    </label>
                </p>
        </div>
    </div>
    <br>
    <br>



    <div class="row purple lighten-4">
        <div class="col">
            <h4 class="center-align">If someone was to playfully punch you how would you react?</h4>
            <form method="post" action="/quizresults">
                <p>
                    <label>
                        <input name="q7" type="radio" checked />
                            <span>Playfully hit them back</span>
                    </label>
                </p>
                <p>
                    <label>
                         <input name="q7" type="radio" />
                            <span>Ignore them</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="q7" type="radio"  />
                            <span>Get mad</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="q7" type="radio" />
                            <span>Start laughing</span>
                    </label>
                </p>
        </div>
    </div>
    <br>
    <br>



    <div class="row purple lighten-4">
        <div class="col">
            <h4 class="center-align">If someone was to playfully punch you how would you react?</h4>
            <form method="post" action="/quizresults">
                <p>
                    <label>
                        <input name="q8" type="radio" checked />
                            <span>Playfully hit them back</span>
                    </label>
                </p>
                <p>
                    <label>
                         <input name="q8" type="radio" />
                            <span>Ignore them</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="group1" type="radio"  />
                            <span>Get mad</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="q8" type="radio" />
                            <span>Start laughing</span>
                    </label>
                </p>
        </div>
    </div>
    <br>
    <br>




    <div class="row purple lighten-4">
        <div class="col">
            <h4 class="center-align">If someone was to playfully punch you how would you react?</h4>
            <form method="post" action="/quizresults">
                <p>
                    <label>
                        <input name="q9" type="radio" checked />
                            <span>Playfully hit them back</span>
                    </label>
                </p>
                <p>
                    <label>
                         <input name="q9" type="radio" />
                            <span>Ignore them</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="group1" type="radio"  />
                            <span>Get mad</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="q9" type="radio" />
                            <span>Start laughing</span>
                    </label>
                </p>
        </div>
    </div>
    <br>
    <br>






    <div class="row purple lighten-4">
        <div class="col">
            <h4 class="center-align">If someone was to playfully punch you how would you react?</h4>
            <form method="post" action="/quizresults">
                <p>
                    <label>
                        <input name="q10" type="radio" checked />
                            <span>Playfully hit them back</span>
                    </label>
                </p>
                <p>
                    <label>
                         <input name="q10" type="radio" />
                            <span>Ignore them</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="group1" type="radio"  />
                            <span>Get mad</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="q10" type="radio" />
                            <span>Start laughing</span>
                    </label>
                </p>
        </div>
    </div>
    <br>
    <br>







































    <!--<h3>How was your energy when you woke up this morning?</h3>-->
    <!--<input type="radio" name="q1" value="q1-a1"> I woke up excited and ready to tackle any challenge<br>-->
    <!--<input type="radio" name="q1" value="q1-a2"> I felt ok, it is just another day<br>-->
    <!--<input type="radio" name="q1" value="q1-a3"> I wanted to go back to bed<br>-->
    <!--<h3>How was your energy when you woke up this morning?</h3>-->
    <!--<input type="radio" name="q2" value="q2-a1"> I woke up excited and ready to tackle any challenge<br>-->
    <!--<input type="radio" name="q2" value="q2-a2"> I felt ok, it is just another day<br>-->
    <!--<input type="radio" name="q2" value="q2-a3"> I wanted to go back to bed<br>-->
    <!--<br>-->
    <!--<br>-->
    <!--<h3>Do you prefer to stay at home rather than going out and doing new things?</h3>-->

    <!--<input type="radio" name="q3" value="q3-a1"> Yes, going out is not really my thing<br>-->
    <!--<input type="radio" name="q3" value="q3-a2"> From time to time I like to stay home<br>-->
    <!--<input type="radio" name="q3" value="q3-a3"> No, I like to go outs <br>-->
    <!--<br>-->
    <!--<br>-->
    <!--<h3>Do you ever feel helpless in any problem you are facing?</h3>-->

    <!--<input type="radio" name="q4" value="q4-a1"> Yes<br>-->
    <!--<input type="radio" name="q4" value="q4-a2"> I don't undertand <br>-->
    <!--<input type="radio" name="q4" value="q4-a3"> No never-->

    <!--<br>-->
    <!--<br>-->
    <!--<h3>Have you recently been losing interest in things you usually enjoy?</h3>-->

    <!--<input type="radio" name="q5" value="q5-a1"> Yes, my life seems pretty dull<br>-->
    <!--<input type="radio" name="q5" value="q5-a2"> No, my life is a rollercoaster and I am here for the exciting ride <br>-->
    <!--<input type="radio" name="q5" value="q5-a3"> From time to time I feel like my life has no purpose-->

    <!--<br>-->
    <!--<br>-->
    <!--<h3>Do you prefer to be by yourself at all times?</h3>-->

    <!--<input type="radio" name="q6" value="q6-a1"> I do prefer to be lonely<br>-->
    <!--<input type="radio" name="q6" value="q6-a2"> No, I like being surrounded by friends and family <br>-->
    <!--<input type="radio" name="q6" value="q6-a3"> I enjoy both my alone time and hanging out with friends-->
    <!--<br>-->
    <!--<br>-->
    <!--<h3>How often have you been bothered by trouble falling asleep, staying asleep, or sleeping too much over the last two weeks?</h3>-->

    <!--<input type="radio" name="q7" value="q7-a2"> Not at all, my sleep schedule has been great<br>-->
    <!--<input type="radio" name="q7" value="q7-a1"> I often have trouble falling alseep <br>-->
    <!--<input type="radio" name="q7" value="q7-a3"> About half the time I have trouble falling alseep-->

    <!--<br>-->
    <!--<br>-->
    <!--<h3>How often have you been bothered that you have trouble concentrating on things like school work, reading, or watching TV?</h3>-->

    <!--<input type="radio" name="q8" value="q8-a2"> Not at all, I am able to multitask with ease<br>-->
    <!--<input type="radio" name="q8" value="q8-a1"> Sometimes I have trouble focusing on things <br>-->
    <!--<input type="radio" name="q8" value="q8-a3"> I have a difficult time focusing on various topics at once-->

    <!--<br>-->
    <!--<br>-->
    <!--<h3>How often have you been bothered that you have little interest or pleasure in doing things?</h3>-->

    <!--<input type="radio" name="q9" value="q9-a2"> Rarely <br>-->
    <!--<input type="radio" name="q9" value="q9-a1"> Sometimes <br>-->
    <!--<input type="radio" name="q9" value="q9-a3"> Very often-->

    <!--<br>-->
    <!--<br>-->
    <!--<h3>How often have you been bothered by feeling down, irritable, or hopeless over the last two weeks?</h3>-->

    <!--<input type="radio" name="q10" value="q10-a2"> Not at all<br>-->
    <!--<input type="radio" name="q10" value="q10-a3"> Several Days <br>-->
    <!--<input type="radio" name="q10" value="q10-a1"> Nearly every day-->

    <!--<br>-->
    <!--<br>-->




    <input type="submit" name="submit">

    </form>
</body>

</html>
