<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8"
        <title> This is what you need in your life</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    </head>
    <body>
        <h1> This Inspirational Quote will brighten up your day </h1>
        <center><h2>{{quote}}</h2></center>
       
        <!--<img src="/static/happy-picture.gif">-->
        <!--<img src="/static/angry-picture.gif">-->
        <!--<img src="/static/sad-picture.gif">-->
        <!--<img src="/static/ambitious-picture.gif">-->
        <!--<img src="/static/{{gif}}-picture.gif}}">-->
        <img src="/static/{{image}}-photo.jpg}}">
        <!--<img src="/static/happy-photo.jpg">-->
        <!--<img src="/static/happy-picture.gif"-->
        
    </body>
</html>

